@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply antialiased;
  }
}

@layer utilities {
  .prose {
    @apply text-gray-700 leading-relaxed;
  }

  .prose p {
    @apply mb-4;
  }

  .prose p:last-child {
    @apply mb-0;
  }

  .prose-lg {
    @apply text-lg;
  }
}
